XML/student.dtd

<!DOCTYPE CSIT[
    <!ELEMENT CSIT(student+)>
    <!ELEMENT student(name+,age,roll,imageUrl)>
    <!ELEMENT name(fName,lName)>
    <!ELEMENT fName(#PCDATA)>
    <!ELEMENT lName(#PCDATA)>
    <!ELEMENT age(#PCDATA)>
    <!ELEMENT roll(#PCDATA)>
    <!ELEMENT imageUrl(#PCDATA)>
    <!ATTLIST student gender>
]>